// ***********************
// Marketo Forms
// ***********************

#recap,
.tos
{
    margin-bottom:20px;
}
#recap:before,
.tos:before
{
    content:' ';
    display:block;
    clear:both;
}
#recap
{
    float:left;
}
.mktoButtonRow
{
    float:right;
}

.mktoForm label.tos_label{
width:90%!important;
}
    .mktoForm input[type='checkbox']{
      width:initial!important;
      margin-right:10px;
      margin-top:20px;
}
.mktoFormRow{
      width:48%;
      margin-right:2%!important;
      float:left!important;
      clear:none!important;
}
.mktoForm,
.mktoForm input:not([type='checkbox']),
.mktoForm label,
.mktoForm select.mktoField,
.mktoForm textarea.mktoField{
  margin-bottom:0px;
}
.mktoAsterix{
  float:left;
  margin-right:5px;
}
.mktoRequiredField .mktoAsterix{
  display:initial;
}
label.mktoLabel.mktoHasWidth{
  font-size:14px;
  margin-bottom:5px;
}
.mktoError{
  position:absolute;
}
.mktoButtonWrap{
  display:block;
  clear:both;
  margin-left:0!important;
}
.mktoButton{
  margin:0 auto;
  width:250px;
  display:block;
  background:#275E91!important;
  border:2px solid #275E91;
  color:#fff!important;
  transition: all 0.4s;
  padding: .5em 1.3em;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
}
.mktoButtonRow{
  margin-bottom:50px;
}
.mktoForm.mktoLayoutAbove .mktoField:not([type='checkbox']){
  width:90%!important;
}

.mktoLogicalField.mktoCheckboxList.mktoHasWidth label {
  max-width: 71%;
}

.mktoForm.mktoLayoutAbove .mktoField[type='checkbox'] {
  margin-top: 4px;
}

.mktoLogicalField.mktoCheckboxList.mktoHasWidth {
  width: auto !important;
}

.mktoLogicalField.mktoCheckboxList.mktoHasWidth label {
  max-width: 95%;
  line-height: 1.5em;
  font-weight: 500;
}

.mktoForm .mktoFieldWrap{
  float:none!important;
}
.mktoForm .mktoFormCol{
  float:none!important;
}
form#mktoForm_4533:after {
    content: ' ';
    display: block;
    clear: both;
}
