[submodule "conjur-project-config"]
	path = conjur-project-config
	url = git@github.com:cyberark/conjur-project-config.git
[submodule "conjur-project-config/"]
	url = git@github.com:cyberark/conjur-project-config.git
