features/reports
features_v4/reports
dev/data_key
.DS_Store
build_number
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.kateproject.d
.rvmrc
.idea

# rspec
.rspec

# Script to connect to jon's lxc appliances
lxcsh.rb
