<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% for item in site.data.sidebar.main %}
        {% if item.url != null %}
          <a class="sidebar-nav-item" href="{{ item.url }}" target="_blank">
            {{ item.title }} &raquo;
          </a>
        {% elsif item.path != null %}
          <a class="sidebar-nav-item{% if page.url == item.path %} activ
e{% endif %}" href="{{ site.baseurl }}{{ item.path }}">
            {{ item.title }}
          </a>
          {% include subitems.html items=item.items %}
        {% else %}
          {{ item.title }}<br/>
          {% include subitems.html items=item.items %}
        {% endif %}
      {% endfor %}

      <hr/>
      
      <div>Cucumber</div>
      
      <a class="sidebar-nav-item" href="https://www.relishapp.com/conjur/possum-api/docs" target="_blank">API Features &raquo;</a>

      <a class="sidebar-nav-item" href="https://www.relishapp.com/conjur/possum-policy/docs" target="_blank">Policy Features &raquo;</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
