<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == null %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort: 'index' %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.external_url != null %}
              <a class="sidebar-nav-item" href="{{ node.external_url }}" target="_blank">
                {{ node.title }} &raquo;
              </a>
            {% else %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">
                {{ node.title }}
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="https://github.com/conjurinc/possum/releases" target="_blank">Downloads &raquo;</a>

      <a class="sidebar-nav-item" href="https://github.com/conjurinc/possum" target="_blank">GitHub project &raquo;</a>
      
      <hr/>
      
      <div>Cucumber</div>
      
      <a class="sidebar-nav-item" href="https://www.relishapp.com/conjur/possum-api/docs" target="_blank">API Features &raquo;</a>

      <a class="sidebar-nav-item" href="https://www.relishapp.com/conjur/possum-policy/docs" target="_blank">Policy Features &raquo;</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
