<div id="footer">
  <div class="footer-disclaimer container">
    <div class="flex-row">
      <div class="col-md-6">
        <a href="https://www.cyberark.com/" target="_blank"><%= image_tag "cyberark-white.png", alt: "CyberArk Logo", class: "cyberark-sidebar-logo" %></a>
      </div>
      <div class="col-md-6">
        <span class="text-right">Conjur Community Edition copyright &copy; <%= Time.current.year %> CyberArk. All rights reserved.</span>
      </div>
    </div>
  </div>
</div>
