<nav id="mobile-navigation" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobileNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <%= image_tag "conjur-logo-all-white.svg", alt: "Conjur Logo" %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="mobileNav">
      <div class="dropdown clearfix">
        <ul class="nav navbar-nav">

        </ul>
      </div>
    </div>
  </div>
</nav>
