<nav class="navbar navbar-default" id="mobile-navigation">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobileNav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "/" do %>
          <%= image_tag "conjur-logo-all-white.svg", alt: "Conjur Logo" %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="mobileNav">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://slackin-conjur.herokuapp.com/" target="_blank"><%= icon('slack', class: 'fa-2x') %></a></li>
          <li><a href="https://github.com/conjurinc/possum" target="_blank"><%= icon('github', class: 'fa-2x') %></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
