/*
*         ______              _           
*        / ____/___  ____    (_)_  _______
*       / /   / __ \/ __ \  / / / / / ___/
*      / /___/ /_/ / / / / / / /_/ / /    
*      \____/\____/_/ /_/_/ /\__,_/_/     
*                      /___/               
*                                        
*/
  

/*
 * Contents:
 *
 * Variables
 * Global resets
 * Typography
 * Sidebar
 * Container
 *
 */


// ***********************
// Variables
// ***********************

$conjur-blue: #0071C7;
$conjur-teal: #1CB9A2;
$conjur-ltblue: #11B5E4;
$conjur-dark: #374850;
$conjur-text: #1a2226;
$conjur-bg: rgb(253, 253, 253);


// ***********************
// Global resets
// ***********************

body {
  background-color: $conjur-bg;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: $conjur-text;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.25;
    color: $conjur-text;
    text-rendering: optimizeLegibility;
}

pre {
  background-color: #f7f7f7;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: $conjur-teal;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.landing-img {
  margin: 50px 0;
}


// ***********************
// Typography
// ***********************

a {
  color: $conjur-ltblue;
}

.page-title {
  color: $conjur-teal;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 300;

}


// ***********************
// Sidebar
// ***********************

.sidebar {
  text-align: left;
  padding: 2.5rem 1rem;
  color: rgba(255,255,255,.5);
  background: #0071c7; /* Old browsers */
  background: -moz-linear-gradient(top, #0071c7 0%, #11b5e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0071c7 0%,#11b5e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0071c7 0%,#11b5e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071c7', endColorstr='#11b5e4',GradientType=0 ); /* IE6-9 */
}

.sidebar-about img {
  width: 200px;
}


// ***********************
// Secondary Sidebar
// ***********************

.sidebar-secondary {
  padding: 2rem 2rem 2rem 0;
  .toc {
    list-style-type: none;
    padding: 0;
  }
  .toc-item {
    border-bottom: 1px solid lighten(gray,20);
  }
}
@media (min-width: 48em) {
  .sidebar-secondary {
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    float: right;
    margin-left: 1rem;
    width: 18rem;
    text-align: left;
  }
}


// ***********************
// Container
// ***********************

.content {
  padding-top:    2rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 55rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


