// ***********************
// Icons
// ***********************

.icon-docker-hub {
  background: url("/img/docker_icon.svg") no-repeat center center;
  width: 16px;
  height: 16px;
  display: inline-block;
}

#footer .icon-docker-hub {
  background: url("/img/docker-blue.svg") no-repeat center center;
  width: 16px;
  height: 16px;
  display: inline-block;
}


// ***********************
// Utilities
// ***********************

.mt-2 {
  margin-top: 2em;
}

.row.equal {
  //display: flex;
  //flex-wrap: wrap;
}
.row.equal > [class*='col-'] {
  //display: flex;
  //flex-direction: column;
}



// ***********************
// Next Steps
// ***********************

.nextsteps {

  .cta-box {
    min-height: auto;
  }

  .cta-box ul.cta-links {
    margin: 0 0 0 1em;
  }
}


// ***********************
// Copy to Clipboard
// ***********************

.hover-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/img/copy-to-clipboard.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  right: 24px;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: $conjur-dark;
  font-family: 'Open Sans';
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  right: -45px;
  z-index: 1;
  margin-top: 30px;
}

.hover-button:hover .tooltip-text {
  visibility: visible;
}

.highlight pre button {
  visibility: visible;
}

.arrow_box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: $conjur-dark;
  border-width: 10px;
  margin-left: -10px;
}


// ***********************
// Copy to Clipboard Code Boxes
// ***********************

.highlight pre {
  white-space: pre-wrap;
  word-break: break-all;
}

pre > code {
  width: 90%;
  overflow: auto;
  display: block;
}


// ***********************
// AnchorJS Link placement and hover behavior
// ***********************

.anchorjs-link {
  color: inherit !important;
  text-decoration: none !important; /* do not underline */
}

@media (max-width: 768px) {
  /* Do not display AnchorJS icon on less than 768px view point */
  .anchorjs-link {
    display: none;
  }
}

*:hover > .anchorjs-link {
  opacity: .75;
  /* To fade links as they appear, change transition-property from 'color' to 'all' */
  -webkit-transition: color .16s linear;
  transition: color .16s linear;
}

*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
  text-decoration: none !important; /* do not underline */
  opacity: 1;
}


// ***********************
// Alert Info
// ***********************

.alert-info {
  background-color: #e6f0f8;
  border: none;
  color: $cybr-blue;
  margin-top: 2em;
}


// ***********************
// Hero
// ***********************

#hero {
  background: url("/img/conjur-hero-bg2.svg") no-repeat top center;
  background-size: cover;
  color: #ffffff;
  padding: 3.5em 0;
  margin-top: -1px;

  .page-title {
    color: #ffffff;
    font-weight: 800;
    margin-top: 0;
  }

  // p {
  //   color: #ffffff;
  //   font-size: 150%;
  //   line-height: 1.7em;
  // }

  .cta {
    margin-top: 4em;
    margin-bottom: 2em;
  }

  .cta-box {
    background-color: rgba(35, 94, 145, 0.22);
    color: $conjur-text;
    border: 0;
    min-height: 235px;

    .cta-box-header {
      color: #fff;
      font-size: 24px;
      font-weight: 800;
      padding-bottom: .5em;
    }

    // p {
    //   font-size: 16px;
    // }

    a {

      &.conjur-btn {
        transition: all 0.4s;
        color: #fff;
        padding: .5em 1.3em;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          text-decoration: none;
          box-shadow: 0px 0px 5px rgba(23,54,83,0.4);
        }
      }

      &.conjur-cta-primary {
        background-color: $cybr-blue;
        border: 2px solid $cybr-blue;

        &:hover {
          background-color: darken($cybr-blue,08);
          border-color: darken($cybr-blue,08);
        }
      }

      &.conjur-cta-secondary {
        background-color: transparent;
        border: 2px solid #fff;

        &:hover {
          background-color: rgba(255,255,255,0.25);
        }
      }
    }

  } // /.cta-box

}

@media (max-width: 767px) {
  #hero {
    padding: 1.5em;
  }
}


// ***********************
// Home
// ***********************

.home {
  padding-top: 0;
  margin-bottom: 4em;
}


// ***********************
// Features
// ***********************

.feature-wrap {

  img {
    margin: 0;
    width: 50px;
    height: 50px;
  }

  h2 {
    margin-top: .5em;
    margin-bottom: .5em;
    color: $conjur-dark;
    font-weight: 800;
  }

  .feature {
    margin-bottom: 4em;
  }

} // END .feature-wrap





// ***********************
// News
// ***********************

.container.news {
  margin-bottom: 2em;
}















//
