// Eval 

.container.eval {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100vh;
	width: 100vw;  
	max-width: 100%;
	z-index: 1;
	text-align:center;
	color: rgba(255,255,255,.5);
  background: #0071c7; /* Old browsers */
  background: -moz-linear-gradient(top, #0071c7 0%, #11b5e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0071c7 0%,#11b5e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0071c7 0%,#11b5e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071c7', endColorstr='#11b5e4',GradientType=0 ); /* IE6-9 */
	.row {
		width: 900px;
		max-width: 90%;
	}
}

h1#conjur-community-edition {
	color: #fff;
}

.submitted-message {
	color: #fff;
}

img {
	margin: 0 0 3rem 0;
}

.logos {
	width: 100%;
	max-width: 500px;
	&.cyberark-logo {
		width: 100%;
		max-width: 150px;
		margin-top: 3.5rem;
		margin-bottom: 0;
	}
	&.conjur-logo {
		width: 300px;
		max-width: 80%;
	}
}

/*  Hubspot Form  */
.hbspt-form {
	label {
  	span {
  		display: none;
  		font-family: 'Open Sans', sans-serif;
  		font-weight: 300;
  		color: #fff;
  	}
  }
  // input field
	input#email-795e5607-3251-4827-9e88-94db1ef9fa7a {
		width: 85%;
		//max-width: 80%;
		height: 44px; 
		text-align: center;
		box-sizing: border-box;
	}
	//error message
	ul.hs-error-msgs.inputs-list li label {
		text-align: center;
		color: #c30;
		font-size: .8rem;
	}
	// required asterik
	.hs-form-795e5607-3251-4827-9e88-94db1ef9fa7a_01227b5a-5893-46e8-9943-c69832fb0d45.hs-form-required {
		color: #fff;
	}
	input.hs-button {
    color: #fff;
    background-color: $conjur-blue;
    background-image: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
  	font-weight: 300;
  	font-size: 1rem;
    padding: 1em 2em;
    max-width: 90%;
    &.hs-button:hover:not(.inactive) {
    	color: #fff;
	    background-color: darken($conjur-blue,05);
	    background-image: none;
	    border: none;
	    text-shadow: none;
	    box-shadow: none;
	    font-family: 'Open Sans', sans-serif;
	  	font-weight: 300;
	  	font-size: 1rem;
	    padding: 1em 2em;
	    max-width: 90%;
    }
    .hs_submit .actions {
    	margin: 0;
    	padding: 0;
    }
	}
	// div#hbspt-form-1499439186061 .actions {
 //  	margin: 0;
 //  	padding: 0;
	// }

	form .actions {
		margin: 0;
  	padding: 0;
	}


} // end .hbspt-form

