#footer {
  .slack-bar {
    background-color: $conjur-ltgray;
    text-align: center;
    padding: 15px 0;

    a {
      color: $conjur-text;
      font-size: 18px;
    }
  }

  .copyright {
    padding: 15px 0;
    background-color: $conjur-dark;

    .disclaimer {
      color: #ffffff;
      font-size: 14px;
    }

    img.cyberark-sidebar-logo {
    	width: 100px;
      margin: 0px;
  	}
  }
}
