// ***********************
// Global
// ***********************

body {
	background-color: $conjur-bg;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8rem;
	position: relative;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	color: $conjur-text;
	font-weight: 300;
	position: relative;
	height: 100%;
}

pre {
	background-color: #f7f7f7;
	padding: 1.5rem;
	border: none;
	margin: 1rem 0;
}

code {
	font-size: 85%;
	color: $conjur-teal;
	background-color: #f9f9f9;
	border-radius: 3px;
}

.landing-img {
	margin: 50px 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 50px 0;
}

.list-unstyled {
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}


// ***********************
// Buttons
// ***********************

.btn {
	padding: .5rem 1rem;
	border-radius: 4px;
	font-weight: 300;
	border: none;
	color: #ffffff;
}

.btn-primary {
	background-color: $conjur-blue;
	&:hover {
		background-color: darken($conjur-blue,10);
	}
}

// ***********************
// Container
// ***********************

.container {
	flex: 1;
}

@media (max-width: 767px) {
  .container {
		margin-right: 1.5em;
		margin-left: 1.5em;
	}
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	color: $conjur-text;
}

.page {
	padding: 2rem 1rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	color: $conjur-text;
	font-weight: 300;

	h2 {
		margin: 3rem 0 1rem 0;
	}
}

#content.api-docs {
	header,
	header h1 {
		margin-top: 0px;
	}
}

@media (max-width: 767px) {
	#content {
		.page-title {
			margin-top: 0;
		}
	}
}

@media (max-width: 992px) {
	#content {
	    display: flex;
	    flex-direction: column;
	}

	.sidebar {
		order: 4;
	}
}
