#hero {
  background: url("/img/conjur-grid-bg-blog.png") no-repeat top center;
  background-size: cover;
  color: #ffffff;
  padding: 6em 0;

  .page-title {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
}
