// ***********************
// Home
// ***********************

.home-hero {
	margin: 1rem 0 1rem 0;
	//background-image: url("../img/conjur-grid.jpg");
}

.hero-full {
	background-image: url("../img/conjur_docs_hero.svg");
	height: 250px;
}