// ***********************
// Top Nav
// ***********************

#top-navigation {
  background-color: $conjur-dark;
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px;

  .navbar-header {
    a.navbar-brand {
      color: #ffffff;
      font-size: 2rem;
      margin: 22px 0 0 0;
      margin-right: 35px;
      display: inline-block;
      width: 350px;
      background: url("/img/cyberark_open_source_logo_ko.svg") no-repeat top left;
      padding: 0px;
    }
  }

  .nav.navbar-nav {
    margin: 15px 0;
    float: right;
  }

  #top-search {
    margin: 15px 0;
    padding: 8px 0;
  }

  .nav-item.dropdown {
    &:hover {
      > ul.dropdown-menu {
        display: block;
        background-color: $conjur-dark;
        color: #ffffff;

        li {
          display: block;
          margin: 3px 0;

          a {
            color: #ffffff;
            font-weight: 300;

            &:hover {
              background-color: rgba(0,0,0,0.15);
            }
          }
        }
      }
    }
  }
  // end #top-navigation
}

@media (min-width: 768px) {
  /* Bootstrap Overrides */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(0,0,0,0.15);
    color: $conjur-ltblue;
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
  	color: #ffffff;
  }

  .navbar-default .navbar-nav > li:hover > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
  	background-color: rgba(0,0,0,0.15);
  }

}



@media (max-width: 1200px) {
  #top-navigation {
    .navbar-header {
      a.navbar-brand {
        box-sizing: content-box;
        width: 256px;
        margin: 27px 0 0 0;
      }
    }
  }
}

@media (max-width: 991px) {
  #top-navigation .navbar-header {
    a.navbar-brand {
      color: #ffffff;
      font-size: 2rem;
      margin: 18px 0 0px 33px;
      margin-right: 35px;
      display: inline-block;
      width: 35px;
      background: url("/img/cyberark_icon_ko.svg") no-repeat top left;
      padding: 0px;
    }
  }
}



@media (max-width: 767px) {
  #top-navigation {
    .navbar-toggle {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      border: none;
      &:hover {
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
      }
      .icon-bar {
        background-color: $conjur-teal;
      }
    }

    .nav.navbar-nav {
      float: none;
    }

    .navbar-nav {
      > li {
        margin-bottom: 5px;
        > a {
          background-color: rgba(0,0,0,0.15);
          color: #ffffff;
        }
      }
    }

    .navbar-header {
      a.navbar-brand {
        color: #ffffff;
        font-size: 2rem;
        margin: 18px 0 0px 33px;
        margin-right: 35px;
        display: inline-block;
        width: 35px;
        background: url("/img/cyberark_icon_ko.svg") no-repeat top left;
        padding: 0px;
      }
    }

    .nav-item.dropdown:hover > ul.dropdown-menu li.active a,
    .nav-item.dropdown:hover > ul.dropdown-menu li a.active {
      color: $conjur-ltblue;
    }

    .dropdown-menu {
      display: block;
      position: static;
      float: none;
      background-color: transparent;
      border-radius: none;
      box-shadow: none;
      font-weight: 300;

      li {
        &.active a,
        &.active a:hover {
          color: $conjur-ltblue;
        }
        a {
          background-color: transparent;
          color: #ffffff;
          font-weight: 300;

          &.active,
          &.active:hover {
            color: $conjur-ltblue;
          }
        }
      }
    }
  }
}

// ***********************
// Contextual Sidebars
// ***********************

ul.sidebar-nav {
  li {
    margin-bottom: 4px;

    &.section a {
      font-weight: bold;
      color: $conjur-text;
    }

    a {
      color: $conjur-medgray;
    }
  }

  &:last-of-type li a {
    color: $conjur-text;
    font-weight: 400;
  }

  .coming-soon {
    font-weight: 400;
    span {
      font-weight: 300;
      font-style:italic;
    }
  }
}
