// ***********************
// Global Resets
// ***********************

body {
  background-color: $conjur-bg;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8rem;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8rem;
  color: $conjur-text;
  font-weight: 300;
}

pre {
  background-color: #f7f7f7;
  padding: 1.5rem;
  border: none;
  margin: 1rem 0;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: $conjur-teal;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.landing-img {
  margin: 50px 0;
}

// ***********************
// Buttons
// ***********************

.btn {
  padding: .5rem 1rem;
  border-radius: 25px;
  font-weight: 300;
}

.btn-primary {
  background-color: $conjur-blue;
  &:hover {
    background-color: darken($conjur-blue,10);
  }
}

// ***********************
// Container
// ***********************

.content {
  padding-top:    2rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 55rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

.page {
  h2 {
    margin: 3rem 0 1rem 0;
  }
}


