// ***********************
// Global Resets
// ***********************

body {
	background-color: $conjur-bg;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8rem;
	position: relative;
	height: 100%;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	color: $conjur-text;
	font-weight: 300;
	position: relative;
	height: 100%;
}

pre {
	background-color: #f7f7f7;
	padding: 1.5rem;
	border: none;
	margin: 1rem 0;
}

code {
	padding: .25em .5em;
	font-size: 85%;
	color: $conjur-teal;
	background-color: #f9f9f9;
	border-radius: 3px;
}

.landing-img {
	margin: 50px 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 50px 0;
}

ul {
	padding: 0;

	li {
		list-style: none;
	}
}

// ***********************
// Buttons
// ***********************

.btn {
	padding: .5rem 1rem;
	border-radius: 25px;
	font-weight: 300;
}

.btn-primary {
	background-color: $conjur-blue;
	&:hover {
		background-color: darken($conjur-blue,10);
	}
}

// ***********************
// Container
// ***********************

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	color: $conjur-text;
}

.page {
	padding: 1rem 4rem 2rem 4rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	color: $conjur-text;
	font-weight: 300;

	h2 {
		margin: 3rem 0 1rem 0;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	#content {
		margin-left: 300px; 
	}
}

@media (min-width: 1201px) {
	#content {
		margin-left: 300px; 
	}
}

@media (max-width: 767px) {
	#content {
		margin-left: auto;
		.page-title {
			margin-top: 0;
		}
	}
	#sidebar.affix {
		position: static !important;
	}
}

// ***********************
// Copy to Clipboard
// ***********************

.hover-button {
	visibility: hidden;
	float: right;
	width: 30px;
	height: 30px;
	background: url("../../img/copy-to-clipboard.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	cursor: pointer;
}

.highlight pre button {
	visibility: visible;
}
