// ***********************
// Typography
// ***********************

h1, h2, h3, h4, h5 {
	color: $conjur-text;
	margin-bottom: .5rem;
	font-weight: 300;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
}

h1 {
	color: $cybr-blue;
	margin-top: 2rem;
	font-size: 3em;
}

a {
	color: $cybr-ltblue;
}

.page-title {
	color: $cybr-blue;
	font-size: 3.5rem;
	margin: 1.2rem 0;
	font-weight: 300;
}

.text-right {
	text-align: right;
}

h1.underline {
	border-bottom: 1px $conjur-medgray solid;
	padding-bottom: 6px;
}
