// ***********************
// Typography
// ***********************

h1, h2, h3, h4, h5 {
	color: $conjur-text;
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

h1, h2 {
	color: $conjur-teal;
	margin-top: 2rem;
}

a {
  color: $conjur-ltblue;
}

.page-title {
  color: $conjur-teal;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 300;

}