// ***********************
// Variables
// ***********************

$conjur-blue: #0071C7;
$conjur-teal: #1CB9A2;
$conjur-ltblue: #11B5E4;
$conjur-dark: #374850;
$conjur-text: #1a2226;
$conjur-bg: rgb(253, 253, 253);
$conjur-ltgray: #D0D0D0;
$conjur-medgray: #a5a5a5;
$conjur-hover-white: rgba(255,255,255, 0.25);
$conjur-hover-blue: #48BAE1;
$conjur-ltgray: #D0D0D0;
$conjur-softgray: #f1f1f1;
$cybr-dkblue: #0E2234;
$cybr-blue: #275E91;
$cybr-ltblue: #6BA3D7;
$bs-ltgray: #8c8c8c;
$conjur-smoke: #f7f7f7;


$success: #8BC34A;
$error: #e53935;

$sless-dark-blue: #08141C;
//$sless-blue: #4D8FCC;
$sless-blue: #0E2234;
//$sless-light-blue: #EDF2F6;
$sless-light-blue: #0E2234;
$border-radius: .3rem;
//$sless-text: #08141C;
$sless-text: #1a2226;
$sless-font-primary: 'Open Sans', sans-serif;
$sless-font-secondary: 'Merriweather Sans', sans-serif;
$sless-shadow: 0 .2rem .5rem 0 rgba(0,0,0,0.16), 0 .2rem .10rem 0 rgba(0,0,0,0.12);
$sless-gradient-blue: linear-gradient(#165d9e, #4d8fcc);
$sless-gradient-blue-hover: linear-gradient(#145088, #3e79af);
