// ***********************
// Variables
// ***********************

$conjur-blue: #0071C7;
$conjur-teal: #1CB9A2;
$conjur-ltblue: #11B5E4;
$conjur-dark: #374850;
$conjur-text: #1a2226;
$conjur-bg: rgb(253, 253, 253);