// ***********************
// Icons
// ***********************

.icon-docker-hub {
  background: url("/img/docker_icon.svg") no-repeat center center;
  width: 16px;
  height: 16px;
  display: inline-block;
}

// ***********************
// Utilities
// ***********************
.mt-2 {
  margin-top: 2em;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
}
.row.equal > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

// ***********************
// CTA Boxes
// ***********************

.cta-box {
  background-color: $conjur-softgray;
  border-radius: 4px;
  color: $conjur-text;
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;

  .cta-content-wrap {
    flex: 1;
  }

  .cta-box-header {
    font-weight: 400;
    padding: 1em 1.5em;
    font-size: 140%;
  }

  hr {
    border-bottom: 1px solid $conjur-medgray;
  }

  p {
    font-weight: 300;
    padding: 0 2em;
    margin-top: 0px;
    flex: 1;
  }

  ul.cta-links {
    padding: 1em 1.5em;
    margin: 0 1em;

    li {
      margin-bottom: 6px;
    }

    a {
      color: $conjur-text;

      &.conjur-cta-primary {
        transition: all 0.4s;
        color: #fff;
        background-color: $conjur-ltblue;
        padding: .5em 1em;
        border-radius: 25px;
        &:hover {
          text-decoration: none;
          background-color: darken($conjur-ltblue,08);
          box-shadow: 0px 0px 5px rgba(165,165,165,0.8);
        }
      }

      &.conjur-cta-secondary {
        transition: all 0.4s;
        color: #fff;
        background-color: $conjur-teal;
        padding: .5em 1em;
        border-radius: 25px;
        &:hover {
          text-decoration: none;
          background-color: darken($conjur-teal,08);
          box-shadow: 0px 0px 5px rgba(165,165,165,0.8);
        }
      }

    }

    i {
      color: $conjur-medgray;
      font-size: 120%;
      margin-right: 5px;
    }
  }

}

@media (max-width: 992px) {
  .cta-box {
    margin: 0 0 1em 0;
    border: 4px solid #fff;
  }
}
