// ***********************
// Icons
// ***********************

.icon-docker-hub {
  background: url("/img/docker_icon.svg") no-repeat center center;
  width: 16px;
  height: 16px;
  display: inline-block;
}

// ***********************
// Utilities
// ***********************
.mt-2 {
  margin-top: 2em;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
}
.row.equal > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

// ***********************
// CTA Boxes
// ***********************

.cta-box {
  background-color: $conjur-softgray;
  border-radius: 4px;
  color: $conjur-text;
  height: 100%;

  .cta-box-header {
    font-weight: 400;
    padding: 1em 1.5em;
    font-size: 140%;
  }

  hr {
    border-bottom: 1px solid $conjur-medgray;
  }

  p {
    font-weight: 300;
    padding: 0 2em;
    margin-top: 0px;
  }

  ul.cta-links {
    padding: 1em 1.5em;
    margin: 0 1em;

    li {
      margin-bottom: 6px;
    }

    a {
      color: $conjur-text;
    }

    i {
      color: $conjur-medgray;
      font-size: 120%;
      margin-right: 5px;
    }
  }

}
