#sidebar.hidden-sm.hidden-xs.affix(data-spy='affix')
  .sidebar-about
    a(href='https://try.conjur.org/')
      img(src='https://try.conjur.org/img/conjur-logo-all-white.svg', alt='Conjur Logo')
  
    +Nav(false)
  
    a(href='/try-conjur-enterprise.html') Conjur Enterprise
    | &nbsp;&nbsp;
    hr
    // Slack Signup
    .slack-signup
      a(href='https://slackin-conjur.herokuapp.com/', target='_blank')
        i.fa.fa-slack
        |  Join our Slack Community
  | &nbsp;
  .sidebar-disclaimer.hidden-sm.hidden-xs
    a(href='https://www.cyberark.com/')
      img.cyberark-sidebar-logo(src='https://try.conjur.org/img/cyberark-white.png', alt='CyberArk Logo')
    | &nbsp;&nbsp;
    .disclaimer &copy; #{self.date().format('YYYY')} CyberArk. All rights reserved.

// For Mobile
nav#mobile-navigation.navbar.visible-sm.visible-xs
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mobileNav')
        span.icon-bar
        | &nbsp;&nbsp;&nbsp;&nbsp;
        span.icon-bar
        | &nbsp;&nbsp;&nbsp;&nbsp;
        span.icon-bar
      | &nbsp;&nbsp;&nbsp;
      a(href='https://try.conjur.org/')
        img(src='https://try.conjur.org/img/conjur-logo-all-white.svg', alt='Conjur Logo')
    | &nbsp;&nbsp;
    #mobileNav.collapse.navbar-collapse
      .dropdown.clearfix
        ul.nav.navbar-nav
