<% content_for :title do %>Conjur CE Status<% end %>

<div class="row">
  <div class="col-md-8">
    <h1 class="page-title">Status</h1>
    <p class="font-large">Your Conjur CE server is running!</p>
  </div>
  <div class="col-md-4">
    <strong>Details:</strong>
    <p class="note">Version <%=ENV["POSSUM_VERSION_APPLIANCE"]%></p>

    <strong>More Info:</strong>
    <ul class="note">
      <li><a href="https://try.conjur.org/reference/" target="_blank">Documentation</a></li>
      <li><a href="https://try.conjur.org/try-conjur-enterprise.html" target="_blank">Conjur Enterprise</a></li>
      <li><a href="https://www.conjur.com/" target="_blank">Conjur.com</a></li>
    </ul>
  </div>
</div>
