<% content_for :title do %>Conjur CE Status<% end %>

<div class="row">
  <div class="col-md-12">
    <h1 class="page-title">Community Edition</h1>
    <%= image_tag "Awesome-Possum.png" %>
  </div>
</div>
