<!DOCTYPE html>
<html lang="en-us">

  {% include page-layout/head.html %}

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGRNZ3V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include page-layout/top_nav.html %}

    <div id="content">
      {{ content }}
    </div>



    {% include page-layout/footer.html %}

  </body>
</html>
