// ***********************
// Hero
// ***********************

#hero {
  background: url("/img/conjur-hero-bg2.svg") no-repeat top center;
  background-size: cover;
  color: #ffffff;
  padding: 3.5em 0;
  margin-top: -1px;

  .page-title {
    color: #ffffff;
    margin-top: 0;
  }

  p.hero-sub {
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    width: 85%;
  }

  .cta {
    margin-top: 3em;
    margin-bottom: 2em;
  }

}

@media (max-width: 767px) {
  #hero {
    padding: 1.5em;
  }
}
