// ***********************
// Variables
// ***********************

$conjur-blue: #0071C7;
$conjur-teal: #1CB9A2;
$conjur-ltblue: #11B5E4;
$conjur-dark: #374850;
$conjur-text: #1a2226;
$conjur-bg: rgb(253, 253, 253);
$conjur-ltgray: #D0D0D0;
$conjur-gray: #a5a5a5;
$conjur-medgray: #454545;
$conjur-hover-white: rgba(255,255,255, 0.25);
$conjur-hover-blue: #48BAE1;
