{% assign section = site.data.navigation.main[include.section] %}

<ul class="sidebar-nav list-unstyled">
  <li class="section">
    <a href="{{ section.path }}">{{ section.title }}</a>
  <li>

  {% for item in section.items %}
    <li class="item{% if item[1].items %} parent-item{% endif %}"><a href="{{ item[1].path }}">{{ item[1].title }}</a></li>
    {% for item in item[1].items %}
      <li class="item sub-item"><a href="{{ item[1].path }}">{{ item[1].title }}</a></li>
    {% endfor %}
  {% endfor %}
</ul>

{% if section %}
<hr/>
{% endif %}


{% include page-layout/sidenav.html %}
